{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <h2>Testimonials</h2>

    

    
    {% if testimonials %}
        {% for testimonial in testimonials %}
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">{{ testimonial.user.username }}</h5>
                <p class="card-text">{{ testimonial.text }}</p>
                <div>
                    
                    {% for i in "12345" %}
                        {% if forloop.counter <= testimonial.rating %}
                            <i class="fas fa-star text-warning"></i>
                        {% else %}
                            <i class="far fa-star text-warning"></i>
                        {% endif %}
                    {% endfor %}
                </div>
                <p class="card-text"><small class="text-muted">Posted on {{ testimonial.created_at }}</small></p>

                
                {% if testimonial.user == request.user %}
                <a href="{% url 'edit_testimonial' testimonial.id %}" class="btn btn-warning">Edit</a>
                <a href="{% url 'delete_testimonial' testimonial.id %}" class="btn btn-danger">Delete</a>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    {% else %}
        <p>No testimonials available yet.</p>
    {% endif %}
</div>
{% endblock %}
