{% load static %}
<!doctype html>
<html lang="en">
  <head>

    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="keywords" content="GameShark, gaming products, video games, gaming deals, gaming accessories, hot deals, gaming merchandise, online gaming store, best gaming deals, game reviews, gaming community, console games, PC games, gaming gear, gaming discounts, buy video games online, gaming collectibles, customer testimonials, gaming blog, gamer shop, gaming equipment, gaming lifestyle, game sales, video game shop, game consoles, game deals online">

    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
        <div id="mc_embed_shell">
            <link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">
    
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    
<!-- Scripts do Bootstrap 5 -->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/e9c73d7092.js" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="{% static 'js/base.js' %}"></script>

          <!-- Stripe -->
          <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>GameShark{% block extra_title %}{% endblock %}</title>
  </head>
  <body>
    <header>
       
        
        <div id="header">
            <div class="header-logo">
                <a href="{% url 'home' %}" class="logo">
                    <h2>GameShark</h2>
                </a>
            </div>

            <!--Search Field-->
<div class="col-md-6">
    <div class="header-search">
        <form method="GET" action="{% url 'products' %}" class="search-form">
            <input class="input search-input" type="text" name="q" placeholder="Search our site">
            <button class="search-btn" type="submit" aria-label="Search"><i class="fas fa-search"></i></button>
        </form>
    </div>
</div>
<!--Search End-->

            <nav id="navigation">
                <div class="container">
                    <ul class="list-inline list-unstyled d-flex justify-content-center">
                        <!-- My Account -->
                        <li class="list-inline-item dropdown">
                            <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div class="text-center">
                                    <i class="fas fa-user fa-lg"></i>
                                    <p class="my-0">My Account</p>
                                </div>
                            </a>
                            <div class="dropdown-menu border-0" aria-labelledby="user-options">
                                {% if request.user.is_authenticated %}
                                    {% if request.user.is_superuser %}
                                        <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
                                    {% endif %}
                                    <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                                    <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                                {% else %}
                                    <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                                    <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                                {% endif %}
                            </div>
                        </li>

                        <!-- Your Wishlist -->
                        <li class="list-inline-item">
                            <a href="{% url 'wishlist_view' %}" class="text-black nav-link">
                                <i class="fa fa-heart-o fa-lg"></i>
                                <p class="my-0">Your Wishlist</p>
                               
                            </a>
                        </li>

                        <!-- Cart -->
                        <li class="list-inline-item">
                            <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link" href="{% url 'view_bag' %}">
                                <i class="fa fa-shopping-cart fa-lg"></i>
                                <p class="my-0">
                                    {% if grand_total %}
                                        ${{ grand_total|floatformat:2 }}
                                    {% else %}
                                        $0.00
                                    {% endif %}
                                </p>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
  




<!-- NAVIGATION -->
<nav id="navigation" class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <div class="header-logo">
         
        </div>
        
        <!-- Toggle Button for Mobile Navigation -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="main-nav navbar-nav ms-auto mb-0">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'products' %}">All Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'products' %}?category=deals">Hot Deals</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'products' %}?category=consoles">Consoles</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="gamesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Games</a>
                    <ul class="dropdown-menu" aria-labelledby="gamesDropdown">
                        <li><a class="dropdown-item" href="{% url 'products' %}?category=playstation_games">PlayStation Games</a></li>
                        <li><a class="dropdown-item" href="{% url 'products' %}?category=xbox_games">Xbox Games</a></li>
                        <li><a class="dropdown-item" href="{% url 'products' %}?category=nintendo_games">Nintendo Games</a></li>
                        <li><a class="dropdown-item" href="{% url 'products' %}?category=pc_games">PC Games</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="accessoriesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Accessories</a>
                    <ul class="dropdown-menu" aria-labelledby="accessoriesDropdown">
                        <li><a class="dropdown-item" href="{% url 'products' %}?category=playstation_accessories">PlayStation Accessories</a></li>
                        <li><a class="dropdown-item" href="{% url 'products' %}?category=xbox_accessories">Xbox Accessories</a></li>
                        <li><a class="dropdown-item" href="{% url 'products' %}?category=nintendo_accessories">Nintendo Accessories</a></li>
                        <li><a class="dropdown-item" href="{% url 'products' %}?category=pc_accessories">PC Accessories</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>












    {% if messages %}
    <div class="message-container">
        {% for message in messages %}
            {% with message.level as level %}
                {% if level == 40 %}
                    {% include 'includes/toasts/toast_error.html' %}
                {% elif level == 30 %}
                    {% include 'includes/toasts/toast_warning.html' %}
                {% elif level == 25 %}
                    {% include 'includes/toasts/toast_success.html' %}
                {% else %}
                    {% include 'includes/toasts/toast_info.html' %}
                {% endif %}
            {% endwith %}
        {% endfor %}
    </div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block postloadjs %}
    <script type="text/javascript">
        $('.toast').toast('show');
    </script>
    {% endblock %}

<!-- Footer Section -->
<footer class="footer bg-dark text-white">
    <div class="container">
        <div class="row justify-content-center py-4">
            <!-- Social Media Icons -->
            <div class="col-md-4 text-center mb-3">
                <h5>Follow Us</h5>
                <div class="social-icons">
                    <a href="https://www.facebook.com/profile.php?id=61566488505996" target="_blank" class="social-icon" aria-label="Facebook">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="https://github.com" target="_blank" class="social-icon" aria-label="GitHub">
                        <i class="fab fa-github"></i>
                    </a>
                    <a href="https://linkedin.com" target="_blank" class="social-icon" aria-label="LinkedIn">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </div>
            </div>

            <!-- Mailchimp Subscription Form -->
            <div class="col-md-4 text-center mb-3">
                <h5>Subscribe to our Newsletter</h5>
                <div id="mc_embed_signup">
                    <form action="https://herokuapp.us10.list-manage.com/subscribe/post?u=2bda34b8664404f43260f0c13&amp;id=676eba3890&amp;f_id=00d90ee2f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
                        <div id="mc_embed_signup_scroll">
                            <div class="mc-field-group">
                                <label for="mce-EMAIL">Email Address <span class="asterisk">*</span></label>
                                <input type="email" name="EMAIL" class="required email form-control" id="mce-EMAIL" required placeholder="Your email">
                            </div>
                            <div id="mce-responses" class="clear foot">
                                <div class="response" id="mce-error-response" style="display: none;"></div>
                                <div class="response" id="mce-success-response" style="display: none;"></div>
                            </div>
                            <div aria-hidden="true" style="position: absolute; left: -5000px;">
                                <input type="text" name="b_2bda34b8664404f43260f0c13_676eba3890" tabindex="-1" value="">
                            </div>
                            <div class="clear">
                                <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary mt-2">Subscribe</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <!-- Copyright and Policy Info -->
            <div class="col-md-4 text-center mb-3">
                <h5>© 2024 GameShark. All rights reserved.</h5>
                <p>Powered by <a href="http://eepurl.com/i0XFRY" target="_blank">Mailchimp</a></p>
                <!-- Policy Link -->
                <p>
                    <a href="https://www.termsfeed.com/live/9d0115e0-2654-45a1-92dc-6bb1cab0c656" target="_blank" class="text-white">Privacy Policy</a>
                </p>
            </div>
        </div>
    </div>
</footer>



<script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script><script type="text/javascript">(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';fnames[6]='COMPANY';ftypes[6]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script></div>
  </body>
</html>