{% load static %}

<!doctype html>
<html lang="en">
  <head>

    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <!-- Bootstrap 5 JavaScript (necessário para o funcionamento dos dropdowns) -->
<!-- Scripts do Bootstrap 5 -->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/e9c73d7092.js" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="{% static 'js/base.js' %}"></script>

          <!-- Stripe -->
          <script src="https://js.stripe.com/v3/"></script
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>GameShark{% block extra_title %}{% endblock %}</title>
  </head>
  <body>
    <header>
        <div id="header">
            <div class="header-logo">
                <a href="#" class="logo">
                    <h2>GameShark</h2>
                </a>
            </div>

            <nav id="navigation">
                <div class="container">
                    <ul class="list-inline list-unstyled">
                        <!-- My Account -->
                        <li class="list-inline-item dropdown">
                            <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div class="text-center">
                                    <i class="fas fa-user fa-lg"></i>
                                    <p class="my-0">My Account</p>
                                </div>
                            </a>
                            <div class="dropdown-menu border-0" aria-labelledby="user-options">
                                {% if request.user.is_authenticated %}
                                    {% if request.user.is_superuser %}
                                        <a href="" class="dropdown-item">Product Management</a>
                                    {% endif %}
                                    <a href="" class="dropdown-item">My Profile</a>
                                    <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                                {% else %}
                                    <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                                    <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                                {% endif %}
                            </div>
                        </li>

                        <!-- Your Wishlist -->
                        <li class="list-inline-item">
                            <a href="#" class="text-black nav-link">
                                <i class="fa fa-heart-o fa-lg"></i>
                                <p class="my-0">Your Wishlist</p>
                                <div class="qty">2</div>
                            </a>
                        </li>

                        <!-- Cart -->
                        <li class="list-inline-item">
                            <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link" href="{% url 'view_bag' %}">
                                <i class="fa fa-shopping-cart fa-lg"></i>
                                <p class="my-0">
                                    {% if grand_total %}
                                        ${{ grand_total|floatformat:2 }}
                                    {% else %}
                                        $0.00
                                    {% endif %}
                                </p>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
  
       <!--Search fild-->
       <div class="col-md-6">
        <div class="header-search">
            <form method="GET" action="{% url 'products' %}">
                <select class="input-select">
                    <option value="0">All Categories</option>
                    <option value="1">Category 01</option>
                    <option value="1">Category 02</option>
                </select>
                <input class="input" type="text" name="q" placeholder="Search our site">
                <button class="search-btn" type="submit">Search</button>
            </form>
        </div>
    </div>
<!--Search end-->

<!-- NAVIGATION -->
<nav id="navigation">
    <div class="container">
        <div id="responsive-nav">
            <ul class="main-nav d-flex justify-content-between mb-0">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'products' %}">All Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Hot Deals</a>
                </li>

                <!-- Consoles Dropdown -->
                <li class="nav-item ">
                    <a class="nav-link " href="{% url 'products' %}?category=consoles"  >
                        Consoles
                    </a>
                  
                </li>

                <!-- Games Dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="gamesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Games
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="gamesDropdown">
                        <li><a class="dropdown-item" href="{% url 'products' %}?category=playstation_games">PlayStation Games</a></li>
                        <li><a class="dropdown-item" href="{% url 'products' %}?category=xbox_games">Xbox Games</a></li>
                        <li><a class="dropdown-item" href="{% url 'products' %}?category=nintendo_games">Nintendo Games</a></li>
                        <li><a class="dropdown-item" href="{% url 'products' %}?category=pc_games">PC Games</a></li>
                    </ul>
                </li>

                <!-- Accessories Dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="accessoriesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Accessories
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="accessoriesDropdown">
                        <li><a class="dropdown-item" href="{% url 'products' %}?category=playstation_accessories">PlayStation Accessories</a></li>
                        <li><a class="dropdown-item" href="{% url 'products' %}?category=xbox_accessories">Xbox Accessories</a></li>
                        <li><a class="dropdown-item" href="{% url 'products' %}?category=nintendo_accessories">Nintendo Accessories</a></li>
                        <li><a class="dropdown-item" href="{% url 'products' %}?category=pc_accessories">PC Accessories</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>








    {% if messages %}
    <div class="message-container">
        {% for message in messages %}
            {% with message.level as level %}
                {% if level == 40 %}
                    {% include 'includes/toasts/toast_error.html' %}
                {% elif level == 30 %}
                    {% include 'includes/toasts/toast_warning.html' %}
                {% elif level == 25 %}
                    {% include 'includes/toasts/toast_success.html' %}
                {% else %}
                    {% include 'includes/toasts/toast_info.html' %}
                {% endif %}
            {% endwith %}
        {% endfor %}
    </div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block postloadjs %}
    <script type="text/javascript">
        $('.toast').toast('show');
    </script>
    {% endblock %}

    
  </body>
</html>